.main
{
    width: 1000px;
    height: 540px;
    background: #f44336;
}

.row1{
    width: 1000px;
    height: 100px;
    background: yellow;
    font-size: 50px;
    text-align: center;
}

.row2{
    width: 1000px;
    height: 40px;
    background: green ;
    color:#f9dcc4 ;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
}

.col1{
    width: 200px;
    height: 40px;
    background-color: #003049;
    float: left;
}
.col2{
    width: 200px;
    height: 40px;
    background-color: #ff006e;
    float: left;
}
.col3{
    width: 200px;
    height: 40px;
    background-color: black;
    float: left;
}
.col4{
    width: 200px;
    height: 40px;
    background-color: #fcbf49;
    float: left;
}
.col5 {
    width: 200px;
    height: 40px;
    background-color: #f77f00;
    float: left;
}

.row3{
    width: 1000px;
    height: 200px;
    background-color:#0077b6 ;
}
.row3-col1{
    width: 250px;
    height: 200px;
    background: #cfbaf0;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    float: left;
    
}



.r1{
    width: 250px;
    height: 40px;
    background: #8eecf5;
}
.r2{
    width: 250px;
    height: 40px;
    background: #cfbaf0;
}
.r3{
    width: 250px;
    height: 40px;
    background: #ffcfd2;
}
.r4{
    width: 250px;
    height: 40px;
    background: #fbf8cc;
}
.r5{
    width: 250px;
    height: 40px;
    background: #f1c0e8;
}


.row3-col2{
    width: 750px;
    height: 200px ;

    float: left;
    
   
}


.row4{
    width: 1000px;
    height: 150px;
    background-color:darksalmon;

    text-align: center;
    font-size: 40px;
    font-weight: 200;
}

.row5{
    width: 1000px;
    height: 100px;

}

.r5-col1{
    width: 330px;
    height: 100px;
    float: left;
}

.r5-col2{
    width: 330px;
    height: 100px;
    float: left;
}

.r5-col3{
    width: 330px;
    height: 100px;
    float: left;
}

.footer{
    width: 1000px;
    height: 50px;
    text-align: center;
    font-size: 30px;
}
